CREATE DATABASE [CAKESTORE]
GO

USE [CAKESTORE]
GO
/****** Object:  Table [dbo].[CAKE]    Script Date: 12/28/2020 10:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAKE](
	[CAKE_ID] [int] NOT NULL,
	[CAKE_NAME] [nvarchar](50) NOT NULL,
	[CAKE_TYPE] [int] NOT NULL,
	[PRICE] [float] NULL,
	[IMAGE] [nvarchar](100) NULL,
	[REMAINING_AMOUNT] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](150) NULL,
 CONSTRAINT [PK_CAKE] PRIMARY KEY CLUSTERED 
(
	[CAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAKE_IN_ORDERS]    Script Date: 12/28/2020 10:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAKE_IN_ORDERS](
	[ORDERS_ID] [int] NOT NULL,
	[CAKE_ID] [int] NOT NULL,
	[NUMBER] [int] NULL,
 CONSTRAINT [PK_CAKE_IN_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ORDERS_ID] ASC,
	[CAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAKE_TYPE]    Script Date: 12/28/2020 10:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAKE_TYPE](
	[TYPE_ID] [int] NOT NULL,
	[TYPE_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_CAKE_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12/28/2020 10:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDERS_ID] [int] NOT NULL,
	[DATE_CREATE] [datetime] NULL,
	[CUSTOMER_NAME] [nvarchar](50) NULL,
	[CUSTOMER_PHONE] [nchar](10) NULL,
	[CUSTOMER_ADDRESS] [nvarchar](150) NULL,
	[TOTAL_PRICE] [float] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ORDERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CAKE] ([CAKE_ID], [CAKE_NAME], [CAKE_TYPE], [PRICE], [IMAGE], [REMAINING_AMOUNT], [DESCRIPTION]) VALUES (1, N'Bánh kem soloca', 1, 2500000, N'\\Image\\Cake\\1\\1.jpg
', 5, N'Bánh kem 3 tầng, được phủ bên ngoài bởi lớp socola đen và bên trên là lớp socola trắng.')
INSERT [dbo].[CAKE] ([CAKE_ID], [CAKE_NAME], [CAKE_TYPE], [PRICE], [IMAGE], [REMAINING_AMOUNT], [DESCRIPTION]) VALUES (2, N'Bánh Donut vị dâu', 2, 20000, N'\\Image\\Cake\\2\\2.jpg
', 20, N'Bánh Donut màu hồng nhạt bắt mắt cùng với hương vị của những quả dâu ngọt ngào. ')
INSERT [dbo].[CAKE] ([CAKE_ID], [CAKE_NAME], [CAKE_TYPE], [PRICE], [IMAGE], [REMAINING_AMOUNT], [DESCRIPTION]) VALUES (3, N'Bánh Flan trà xanh', 3, 12000, N'\\Image\\Cake\\3\\3.jpg
', 25, N'Bánh Flan trà xanh với màu sắc thiên nhiên bắt mắt và hương vị ngọt ngào của đường, sữa cũng như vị thanh mát của trà xanh.')
GO
INSERT [dbo].[CAKE_IN_ORDERS] ([ORDERS_ID], [CAKE_ID], [NUMBER]) VALUES (1, 1, 10)
INSERT [dbo].[CAKE_IN_ORDERS] ([ORDERS_ID], [CAKE_ID], [NUMBER]) VALUES (1, 2, 50)
INSERT [dbo].[CAKE_IN_ORDERS] ([ORDERS_ID], [CAKE_ID], [NUMBER]) VALUES (2, 3, 10)

GO
INSERT [dbo].[CAKE_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (1, N'Bánh Kem')
INSERT [dbo].[CAKE_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (2, N'Bánh Donut')
INSERT [dbo].[CAKE_TYPE] ([TYPE_ID], [TYPE_NAME]) VALUES (3, N'Bánh Flan')
GO
INSERT [dbo].[ORDERS] ([ORDERS_ID], [DATE_CREATE], [CUSTOMER_NAME], [CUSTOMER_PHONE], [CUSTOMER_ADDRESS], [TOTAL_PRICE]) VALUES (1,  CAST(N'2020-12-20T00:00:00.000' AS DateTime), N'Võ Thiện Tín', N'0332154460', N'117 Nghĩa Thục, P5, Q5', 3500000)
INSERT [dbo].[ORDERS] ([ORDERS_ID], [DATE_CREATE], [CUSTOMER_NAME], [CUSTOMER_PHONE], [CUSTOMER_ADDRESS], [TOTAL_PRICE]) VALUES (2,  CAST(N'2020-12-21T00:00:00.000' AS DateTime), N'Văn Trọng Hân', N'0946751345', N'KTX Khu B, ĐHQG TPHCM', 4200000)
INSERT [dbo].[ORDERS] ([ORDERS_ID], [DATE_CREATE], [CUSTOMER_NAME], [CUSTOMER_PHONE], [CUSTOMER_ADDRESS], [TOTAL_PRICE]) VALUES (3,  CAST(N'2020-12-22T00:00:00.000' AS DateTime), N'Lê Thị Bánh Bao', N'0945623156', N'227 Nguyễn Văn Cừ, P4, Q5', 3700000)



GO
ALTER TABLE [dbo].[CAKE]  WITH CHECK ADD FOREIGN KEY([CAKE_TYPE])
REFERENCES [dbo].[CAKE_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[CAKE_IN_ORDERS]  WITH CHECK ADD FOREIGN KEY([CAKE_ID])
REFERENCES [dbo].[CAKE] ([CAKE_ID])
GO
ALTER TABLE [dbo].[CAKE_IN_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK__CAKE_IN_O__ORDER__47DBAE45] FOREIGN KEY([ORDERS_ID])
REFERENCES [dbo].[ORDERS] ([ORDERS_ID])
GO
ALTER TABLE [dbo].[CAKE_IN_ORDERS] CHECK CONSTRAINT [FK__CAKE_IN_O__ORDER__47DBAE45]
GO
